.signin{
    width:40%;
    margin-top: px;
    background: #ffffff;
    margin: auto;
   border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.text1{
    color: black;
    font-weight: bold;
    text-align: end;
}
.text{
   text-align: center;
   padding-top: 60px;
   padding-bottom: 20px;
   color:green.300;
   font-size: 34px;
   font-weight: bold;
}

@media screen and (max-width:950px){
    
    .signin{
        width:90%;
        margin: auto;
        /* border: 1px solid #FA5D00 ; */
        padding: 30px;
    }
    .text1{
        color: black;
        font-weight: bold;
        text-align: end;
        font-size: x-small;

    }
    /* .text4{
        text-align: center;
       
        padding-bottom: 20px;
        color: green.200;
        font-size: 18px;
        font-weight: bold;
     } */
}
