.parent {
    margin: 2rem;
    height: 100%;
    width: 100%;
    
    

}
.container{
    margin-top: 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid rgba(27, 31, 35, 0.15);
}
.heading{
    margin-bottom: 2rem;
}
.heading_text1{
    font-weight: 600;
    font-size: 1.5rem;
}
.heading_text2 {

    color: rgb(107 114 128);
}
.details_text1{
    font-weight: 500;
}
.details_text2{
    color: rgb(107 114 128);
    width: 80%;
    line-height: 1.2rem;
}

.desc{
    display: flex;
    gap: 20px;
    margin: 1rem 0;
}
