.li1 {
    float: left;
    /* border-right:1px solid #bbb; */
  }
  .li1{
  display: inline-block;
  
  }
  
  .dropbox{
  position: absolute;
  
  display: none;
  z-index: 1000;
  right: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1000;
  background-color: #ffffff;
  width:250px;
  margin-top: 5px;
  }
  
  .li1:hover .dropbox{
  display: flex;
  flex-direction: column;
  
  }
  .li1:focus-visible .dropbox{
    display: flex;
    flex-direction: column;
    
    }
 
  
  .text12{
   text-align: justify;
  
   font-weight: bold;
   color: rgb(41, 41, 41);
   padding-top: 7px;
   padding-bottom: 7px;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 15px;
  
  }
  .text11{
    text-align: justify;
   
    font-weight: 400;
    color: rgb(41, 41, 41);
    padding-top: 7px;
    padding-bottom: 7px;
   font-size: 16px;
   padding-left: 30px;
   padding-right: 15px;
   
   }
  .text11:hover{
  background-color: rgba(26, 26, 26, 0.8);
  color: #ffffff;
  }
  
  .text12:hover{
    background-color: rgba(26, 26, 26, 0.8);
    color: #ffffff
}
