.signup{
    width:40%;
    height: 550px;
    background: #ffffff;
    margin: auto;
   border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 60px;
}
.text1{
    color: black;
    font-weight: bold;
    text-align: end;
    margin-bottom: 30px;
}
.checkbox{
    margin-bottom: 30px;
    margin-top: 10px;
}

.text{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    color:green.300;
    font-size: 34px;
    font-weight: bold;
 }
 


@media screen and (max-width:950px){
    
    .signup{
        width:90%;
        height: 550px;
        margin: auto;
        /* border: 1px solid #FA5D00 ; */
        padding: 30px;
        margin-bottom: 60px;
    }
    .text1{
        color: black;
        font-weight: bold;
        text-align: end;
        font-size: x-small;
        margin-bottom: 30px;

    }
    .checkbox{
        margin-bottom: 30px;
        margin-top: 10px;
        
    }
    .text2{
        font-size: x-small;
    }
    /* .text{
        text-align: center;
        padding-top: 60px;
        padding-bottom: 20px;
        color:green.300;
        font-size: 18px;
        font-weight: bold;
     } */
}
