.slider{
  position: relative;
}
.imageSlider{
  height: 100%;
  width: 100%;
}
.sliderLeftIcon{
    position: absolute;
    top: 50%;
    cursor: pointer;
    background-color: white;
    
}
.sliderRightIcon {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
    background-color: white;
}