.container{
  display: flex;
  
  justify-content: space-between;
  width: auto;
  background-color: #f9fafb;
  height: 100vh;
  /* overflow: hidden; */
  /* #f9fafb #4d4e4f */
  
  
}
.navbarImg{
  width: 20px;
}
.box{
  display: flex;
  padding: 0 1rem;
  align-items: center;
  cursor: pointer;

}
.sideImage{
  border-radius: 50%;
  border: 2px solid #bf9850;
  margin: 0 2rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: .1rem;
  cursor: pointer;
}
.sideNavbar{
  width: 15rem;
  background-color: #ffffff;
  padding: 1rem 1.5rem ;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid rgba(27, 31, 35, 0.15);
  
}



.sideNavbar::-webkit-scrollbar {
  width: 4px;

}

.sideNavbar::-webkit-scrollbar-thumb {
  background: rgb(209, 212, 219);
}


.topNavbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(27, 31, 35, 0.15);
  z-index: 100;
 
  
  
}
.topNavbarBox{
  width: 100%;
}

.sideIcons{
  padding: 2rem 0;
}
.sideIconsBox{
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}
.sideNames{
  margin-left: 1rem;
}
.reactIcons ,.icons{
  font-size: 1.1rem;
  color:rgba(27, 31, 35, 0.8);
}
.icons{
  font-size: 1.5rem;
  margin-left: 2rem;
}
.name{
  color: #bf9850;
  margin-left: 1rem;
  font-weight: 600;
}
.content{
  height:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y:auto;
  /* z-index:100;  */
}
.content::-webkit-scrollbar {
  width: 6px;

}

.content::-webkit-scrollbar-thumb {
  background: rgb(209, 212, 219);
}

.edit_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width:850px) {
  .sideNames{
    display: none;
  }
  .sideNavbar{
    width: 5rem;
    padding: 1rem .2rem;
  }
  .reactIcons{
    font-size: .9rem;
  }
  .name{
    display: none;
  }
  .sideNavbar::-webkit-scrollbar {
    width: 2px;
  
  }
}
.home_navbar_menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width:690px) {
  .topNavbarBox {
    width: 90%;
  }
}
@media screen and (max-width:630px) {
  .topNavbarBox {
    width: 88%;
  }
  .content{
    padding: .5rem;
  }
}