.container{
    margin: 2rem;
    width: 100%;
    height: 90%;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid rgba(27, 31, 35, 0.15);
}
.heading{
    font-weight: 600;
}
.box{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.name{
    margin-right: 1rem;
}
.btn{
    margin-right: 1rem;
    font-weight: 600;
    
}
.containerBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}